@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    --main-blue: #0096a3;
    --background-white: #fff;
    --gradient-orange: linear-gradient(
            to bottom right,
            #ff8525 0%,
            #ffb074 100%
    );
}

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
span.line {
    background: url("../../images/line-biru.png") no-repeat bottom;
}
span.biru {
    color: var(--main-blue);
}

body {
    background-color: var(--background-white);
    margin-top: 100px;
}

#overview {
    font-weight: bold;
}

/* start of navbar */
nav {
    margin-top: -100px;
    /* add margin-top 100px di body */
    /* pakein padding-top di content pertama, bukan di body (gaguna jangan) */
    position: fixed;
    height: 100px;

    width: 100%;
    background: white;
    display: flex;
    justify-content: center;
    font-size: 20px;
    transition: all 0.3s ease;
    z-index: 5;
}
.navbar.sticky {
    padding: 10px 0;
    height: 60px;
    font-size: 16px;
}
.navbar.shadow {
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.05);
}
nav .center {
    max-width: 1200px;
    width: 90vw;
    /* height: 100px; */
    display: flex;
    align-items: center;
    /* tambahan buat di navbar dashboard */
    position: relative;
    justify-content: space-between;
}
nav .center .left-content li {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
nav .center .left-content li a {
    color: #383d3b;
}
nav .left-content {
    display: flex;
    justify-content: center;
    align-items: center;
}
nav .left-content li {
    list-style-type: none;
}
nav .left-content li a {
    text-decoration: none;
    color: var(--main-blue);
}

nav li .name {
    margin-left: 10vw;
}

nav button {
    font-size: 15px;
    padding: 2px 15px;
    border-radius: 50px;
    border-color: var(--main-blue);
    transition: all 0.3s ease 0s;
}
nav #login-btn {
    background-color: transparent;
    color: var(--main-blue);
    border: 2px solid var(--main-blue);
    margin-left: 40px;
}
nav #sign-up-btn {
    background-color: var(--main-blue);
    color: white;
    border: 2px solid var(--main-blue);
}
nav #login-btn:hover,
nav #sign-up-btn:hover {
    cursor: pointer;
    transform: translateY(-7px);
}

nav .menu-list {
    list-style: none;
}
nav .menu-list li {
    display: inline-block;
    margin: 0 10px;
}
nav .menu-list li a {
    text-decoration: none;
    color: #383d3b;
}
.navbar .center .icon {
    color: var(--main-blue);
    font-size: 20px;
    cursor: pointer;
    display: none;
}
.navbar .center .icon.cancel-btn {
    position: absolute;
    right: 30px;
    top: 20px;
}
.logout-btn {
    height: 25px;
    width: 25px;
    cursor: pointer;
    color: #0096a3;
}

body.disabledScroll {
    overflow: hidden;
}

@media (max-width: 1100px) {
    nav {
        font-size: 16px;
    }
    nav button {
        font-size: 14px;
    }
}

@media (max-width: 868px) {
    .navbar {
        height: 80px;
    }
    .navbar .logo-navbar {
        width: 70px;
    }

    body.disabledScroll {
        overflow: hidden;
    }

    .navbar .center .icon {
        display: block;
        height: 50px;
        width: 50px;
        text-align: center;
        line-height: 50px;
        border-radius: 50%;
        z-index: 9;
    }
    .navbar .center .icon.cancel-btn {
        display: none;
    }
    .navbar .center .icon.cancel-btn.show {
        display: block;
        padding-top: 5px;
        padding-right: 11px;
    }
    .logout-btn {
        justify-content: center;
    }
    .navbar .center .icon.hide {
        display: none;
    }
    .navbar .center .menu-list {
        position: fixed;
        top: 0;
        left: 0;
        height: 40vh;
        width: 100%;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* display: block; */
        /* padding: 40px 0; */
        text-align: center;
        clip-path: circle(25px at calc(100% - 55px) calc(0% + 50px));
        transition: all 0.3s ease;
        box-shadow: 0 16px 20px 10px rgba(0, 0, 0, 0.25);
    }

    .navbar.sticky .menu-list {
        clip-path: circle(25px at calc(100% - 55px) calc(0% + 35px));
    }
    .navbar .menu-list.active {
        clip-path: circle(75%);
    }
    .navbar .menu-list li {
        margin-top: 15px;
        margin-bottom: 10px;
    }
    nav li .name {
        margin-left: 0;
    }
    .menu-list svg {
        margin: 10px auto;
    }

    .navbar .menu-list #login-btn,
    .navbar .menu-list #sign-up-btn {
        margin: 15px auto 0 auto;
        width: 200px;
    }
    .navbar .menu-list li a {
        font-size: 18px;
    }
    @media screen and (max-width: 580px) {
        .navbar .center .icon.cancel-btn.show {
            padding-top: 5px;
            padding-right: 0px;
        }
    }
}
/* end of navbar */

/* || body */
section {
    max-width: 1200px;
    width: 90vw;
    margin: auto;
}
section.upper h1 {
    font-weight: 500;
    font-size: 2em;
    margin-bottom: 0.5em;
}

section.content {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 1em;
    /* height: 100vh; */
}
/* || section left */

div.left {
    width: 30%;
}
div.left .card {
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding: 1em 2em;
    text-align: center;
    /* width: inherit;
    position: fixed; */
}
div.left .card h2 {
    font-weight: 500;
}
.chart {
    background-color: white;
    width: 100%;
    margin: 1em 0;
}
.chart .canvas {
    margin: auto;
}
div.left .card .container {
    display: flex;
    text-align: left;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    padding: 1em;
    height: 100px;
    margin: 10px 0;
}
div.left .card .container.total {
    background-color: #ffe9bd;
}
div.left .card .container.total .left {
    color: #b98a2b;
}
div.left .card .container.total .right {
    color: #855900;
}

div.left .card .container.cash {
    background-color: #c3ffcd;
}
div.left .card .container.cash .left {
    color: #6e9775;
}
div.left .card .container.cash .right {
    color: #3c5440;
}

div.left .card .container.gopay {
    background-color: #b7eaf6;
}
div.left .card .container.gopay .left {
    color: #83a8b0;
}
div.left .card .container.gopay .right {
    color: #3b4f53;
}

div.left .card .container.ovo {
    background-color: #cbaaff;
}
div.left .card .container.ovo .left {
    color: #8973ad;
}
div.left .card .container.ovo .right {
    color: #3f344f;
}

div.left .card .container.bci {
    background-color: #d9d9d9;
}
div.left .card .container.bci .left {
    color: #858484;
}
div.left .card .container.bci .right {
    color: #5c5c5c;
}

div.left .card .container .left img {
    width: 50px;
}
div.left .card .container .left p {
    font-size: 1.6em;
    font-weight: 600;
    margin-top: -10px;
}
div.left .card .container .right {
    display: flex;
}
div.left .card .container .right p {
    font-size: 1.5em;
    font-weight: 600;
    text-align: right;
    align-items: center;
}

.right-container {
    width: 69%;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
    padding: 1em 1.5em;
    border-radius: 20px;
}
.right-container h2 {
    font-weight: 400;
}
.right-container .button-container {
    display: flex;
    margin: 1em 0 1.5em 0;
}
.right-container .button-container .button {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
    margin-right: 10px;
    padding: 0.2em 1em;
    border-radius: 20px;
    cursor: pointer;
}
.right-container .button-container .button.active {
    background-color: var(--main-blue);
    color: white;
    font-weight: 600;
}
.right-container .card {
    margin-top: 10px;
    display: flex;
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
}
.right-container .card .default-part {
    padding: 1em;
    display: flex;
    width: 100%;
    justify-content: space-between;
    cursor: pointer;
}
.right-container .card .default-part .left h3 {
    font-weight: 600;
}
.right-container .card .default-part .left p {
    color: #747474;
}
.right-container .card .default-part .right {
    display: flex;
    align-items: center;
}
.right-container .card .default-part .right .container.out {
    display: flex;
    width: 100%;
    background-color: #fbcfcf;
    padding: 0.2em 0.5em;
    border-radius: 10px;
    color: #980101;
    font-weight: 600;
}
.right-container .card .default-part .right .container.in {
    display: flex;
    width: 100%;
    background-color: #d5ffdc;
    padding: 0.2em 0.5em;
    border-radius: 10px;
    color: #007213;
    font-weight: 600;
}
.right-container .card .delete {
    background-color: #c40000;
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 0 15px 15px 0;
    display: none;
    transition: all 3s ease;
    right: 0;
}
/* .right-container .card:hover .delete {
    display: flex;
    transition: all 3s ease;
    right: 0;
} */

/* ||| footer */
section.footer .line {
    height: 2px;
    background-color: #d9d9d9;
}
section.footer {
    text-align: center;
}
section.footer h2 {
    font-size: 3em;
    font-weight: 400;
    margin: 1em 0;
}
section.footer .bottom-mark {
    background-color: #036973;
    position: absolute;
    color: white;
    left: 0;
    width: 100%;
    padding: 0.5em 0;
    border-radius: 50px 50px 0 0;
}
