<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Profile Page</title>
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
          integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
          crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
          integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
          crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
          integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
          crossorigin="anonymous"></script>
</head>

<body style="background-color:#eee">
<nav class="navbar navbar-expand-md fixed-top navbar-dark" style="background-color: black">
  <a class="navbar-brand font-weight-bold" aria-disabled="true" style="color: #dfe7f1">Official Merchandise Store</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" th:href="@{/store}">Market</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" th:href="@{/keranjang}">Keranjang</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" th:href = "@{/subscribe-promo-code}">Promo Code Subscription</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" th:href = "@{/profile-page}">My Profile</a>
      </li>
    </ul>

    <div id="nav-btns" class="d-flex align-items-center justify-content-center">

      <a th:href = "@{/logout}" class="btn btn-info" role="button">Log out</a>
    </div>
  </div>
</nav>

<section class="vh-100" style="background-color: #eee;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-12 col-xl-4">
        <div class="card" style="border-radius: 15px;">
          <div class="card-body text-center">
            <div class="mt-3 mb-4">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava2-bg.webp"
                   class="rounded-circle img-fluid" style="width: 100px;" />
            </div>
            <h4 class="mb-2"><span th:text="${username}"></span></h4>
            <p class="text-muted mb-4"><span th:text="${email}"></span></p>
            <a class="btn btn-primary btn-rounded btn-lg" th:href = "@{/topup}" role="button">Tambah Saldo</a>
            <br>
            <br>
            <div>
              <p class="h5"><span th:text="${wallet}"></span></p>
              <p class="text-muted mb-0">Saldo</p>
            </div>
          </div>
        </div>
      </div>
      <div class="box">
        <div class="card">
          <h2>Promo Code List</h2>
          <div th:if="${listPromoCode.isEmpty()}">
            <p>No Promo Code</p>
          </div>
          <div th:if="${!listPromoCode.isEmpty()}">
            <table class ="table">
              <thead>
              <tr>
                <th scope="col">Code</th>
                <th scope="col">Discount Amount</th>
                <th scope="col">Minimum Purchase</th>
              </tr>
              </thead>
              <tbody id="promo-codes">
              <tr th:each="promoCode:${listPromoCode}">
                <td th:text="${promoCode.code}"></td>
                <td th:text="${promoCode.discountAmount}"></td>
                <td th:text="${promoCode.minimumPurchase}"></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--<div class="alert alert-success alert-dismissible fade show" role="alert" th:text="${success}" th:if="${success}">-->
<!--    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>-->
<!--</div>-->

</body>
</html>