<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up | Piggy Saver | Nagos Tamel</title>
    <link rel="stylesheet" th:href="@{/css/user/signup.css}" />
</head>

<body>
<form method="post" th:action="@{/register}" th:object="${registerRequest}">
    <div class="card">
        <h1>Buat Akun</h1>
        <div class="isi">
            <p>Fullname:</p>
            <input type="text" name="fullname" placeholder="Fullname" required/>
        </div>
        <div class="isi">
            <p>Username:</p>
            <input type="text" name="username" placeholder="Username" required/>
        </div>
        <div class="isi">
            <p>E-mail:</p>
            <input type="email" name="email" placeholder="E-mail" required/>
        </div>
        <div class="isi">
            <p>Password:</p>
            <input type="password" name="password" placeholder="Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required/>
        </div>
        <button type="submit" name="register" value="Register">Buat Akun</button>
        <p class="sudah">
            Sudah punya akun? Silahkan <a href="/login">masuk</a>
        </p>
    </div>
</form>
</body>
</html>